.wishlist-page {
  padding: 40px;
  background: #f5f6fa;
  min-height: 100vh;
}

.wishlist-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
}

/* EMPTY STATE */

.empty-wishlist {
  text-align: center;
  margin-top: 80px;
  color: #666;
}

/* GRID */

.wishlist-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}

/* CARD */

.wishlist-card {
  background: white;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  position: relative;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.wishlist-card:hover {
  transform: translateY(-6px);
}

/* IMAGE */

.wishlist-card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 10px;
}

/* REMOVE BUTTON */

.remove-btn {
  position: absolute;
  top: 10px;
  right: 12px;
  cursor: pointer;
  font-size: 18px;
}

/* PRICE */

.price-box {
  margin: 10px 0;
}

.price {
  font-weight: bold;
  font-size: 18px;
  color: #e60023;
  margin-right: 6px;
}

.old-price {
  text-decoration: line-through;
  color: #888;
  margin-right: 6px;
}

.discount {
  color: green;
  font-weight: 600;
}

/* BUTTON */

.move-cart-btn {
  width: 100%;
  padding: 10px;
  border: none;
  background: black;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.move-cart-btn:hover {
  background: #333;
}