/* =========================
   PRODUCTS GRID
========================= */

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 25px;
  margin-top: 20px;
}


/* =========================
   PRODUCT CARD
========================= */

.product-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s ease;
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card:hover {
  box-shadow: 0 10px 25px rgba(0,0,0,0.12);
  transform: translateY(-5px);
}


/* =========================
   PRODUCT IMAGE
========================= */

.product-image {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 8px;
}


/* =========================
   PRODUCT PRICE
========================= */

.product-price {
  font-weight: bold;
  font-size: 18px;
  margin: 10px 0;
  color: #e60023;
}


/* =========================
   ADD BUTTON
========================= */

.add-btn {
  background: black;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  border-radius: 6px;
  transition: 0.3s;
}

.add-btn:hover {
  background: #333;
}
